<div class="main-content">
    <div class="section-content section-content-p30">
        
        <div *ngIf="currentCategoryName">
            <h4>Category: {{ currentCategoryName }}</h4>
            <hr>
        </div>

        <div class="container-fluid">
            <div class="row">
                
                <!-- loop over the collection of products -->
                <div *ngFor="let product of products" class="col-md-3">
                    
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" class="img-responsive" appFallbackImage>
                        </a>

                        <a routerLink="/products/{{ product.id }}">
                            <h1 class="product-title">{{ product.name }}</h1>
                        </a>

                        <div class="price">{{ currencyService.formatPriceString(product.unitPrice, product.unitPriceEur) }}</div>

                        <div class="availability">
                            <span [ngClass]="product.unitsInStock > 0 ? 'text-success' : 'text-danger'">
                                {{ product.unitsInStock > 0 ? 'In stock' : 'Not in stock' }}
                            </span>
                        </div>

                        <button (click)="addToCart(product)" class="btn btn-primary btn-sm"
                                *ngIf="product.unitsInStock > 0 && product.isActive" >Buy</button>

                        <button *oktaHasAnyGroup="['Admin']" [ngClass]="product.unitsInStock > 0 && product.isActive ? 
                                                             'btn btn-warning btn-sm ms-2' : 'btn btn-warning btn-sm'" 
                                [routerLink]="['/admin/products/edit', product.id]">Edit</button>
                                
                        <ng-container *oktaHasAnyGroup="['Admin']">        
                            <button *ngIf="product.isActive" class="btn btn-danger btn-sm ms-2" 
                                        (click)="open(deactivate, product.id)">Unpublish</button>

                            <button *ngIf="!product.isActive" class="btn btn-info btn-sm ms-2" 
                                            (click)="open(activate, product.id)">Publish</button>
                        </ng-container>        
                    </div>
                    
                </div>

                <!-- If products empty then display a message -->
                <div *ngIf="products.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>
            </div>

            <!-- begin footer -->
            <div class="footer-pagination" *ngIf="products.length > 0">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">

                                <ngb-pagination [(page)]="currentPageNumber"
                                                [pageSize]="pageSize"
                                                [collectionSize]="totalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">
                                </ngb-pagination>
                            </div>

                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>

                                <select #pageSizeSelect (change)="updatePageSize(pageSizeSelect.value)">
                                    <option>5</option>
                                    <option>10</option>
                                    <option selected="true">20</option>
                                    <option>50</option>
                                </select>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>


            <!-- end footer --> 
        </div>
    </div>
</div>

<ng-template #deactivate let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Unpublish Product</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Do you really want to unpublish this product?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="unpublishProduct(selectedProductId)">Unpublish</button>
	</div>
</ng-template>

<ng-template #activate let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Publish Product</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Do you want to publish this product?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info" (click)="publishProduct(selectedProductId)">Publish</button>
	</div>
</ng-template>