<div class="login-status-header">

    <div *ngIf="isAuthenticated" class="login-status-user-info">
        Hi, {{ userFullName }}

        <button (click)="logout()" class="security-btn">
            Logout
        </button>

        <div style="margin-left: 5px;" ngbDropdown class="d-inline-block">
            <button class="security-btn" ngbDropdownToggle>{{ userRoleDropdownLabel }}</button>
            <div ngbDropdownMenu>
                <button *ngIf="userRoleDropdownLabel != 'Admin'" routerLink="/members" class="dropdown-item">Member</button>
                <button routerLink="/order-history" class="dropdown-item">My Orders</button>
                <button *oktaHasAnyGroup="['Admin']" routerLink="/admin/coupons" class="dropdown-item">Coupons</button>
                <button *oktaHasAnyGroup="['Admin']" routerLink="/admin/categories" class="dropdown-item">Product Categories</button>
                <button *oktaHasAnyGroup="['Admin']" routerLink="/admin/system-parameters" class="dropdown-item">System Parameters</button>
            </div>
        </div>
    </div>

    <div *ngIf="!isAuthenticated" class="login-status-user-info">
        <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">
            Login
        </button>
    </div>
</div>
