<div class="detail-section" *ngIf="product">
    <div class="container-fluid">

        <img src="{{ product.imageUrl }}" class="detail-img" appFallbackImage>

        <h3>{{ product.name }}</h3>
        <div class="price">{{ currencyService.formatPriceString(product.unitPrice, product.unitPriceEur) }}</div>

        <div class="availability">
            <span [ngClass]="product.unitsInStock > 0 ? 'text-success' : 'text-danger'">
                {{ product.unitsInStock > 0 ? 'In stock' : 'Not in stock' }}
            </span>
        </div>
        
        <button (click)="addToCart()" class="btn btn-primary btn-sm"
                *ngIf="product.unitsInStock > 0 && product.isActive" >Buy</button>        

        <button *oktaHasAnyGroup="['Admin']" [ngClass]="product.unitsInStock > 0 && product.isActive ? 
                'btn btn-warning btn-sm ms-2' : 'btn btn-warning btn-sm'" 
                [routerLink]="['/admin/products/edit', product.id]">Edit</button>        
                
        <ng-container *oktaHasAnyGroup="['Admin']">        
            <button *ngIf="product.isActive" class="btn btn-danger btn-sm ms-2" 
                    (click)="open(deactivate, product.id)">Unpublish</button>

            <button *ngIf="!product.isActive" class="btn btn-info btn-sm ms-2" 
                           (click)="open(activate, product.id)">Publish</button>
        </ng-container>        

        <br/>
        <br/>

        <h4>Description</h4>
        <p class="product-description">{{ product.description }}</p>

        <app-product-comment></app-product-comment>

        <a routerLink="/products" class="primary-btn mt-5">Back</a>
    </div>
</div>


<div class="main-content" *ngIf="!product">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <!-- If product empty then display a message -->
            <div class="alert alert-warning col-md-12" role="alert">
                No product found.
            </div>
        </div>
    </div>
</div>

<ng-template #deactivate let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Unpublish Product</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Do you really want to unpublish this product?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="unpublishProduct(selectedProductId)">Unpublish</button>
	</div>
</ng-template>

<ng-template #activate let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Publish Product</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Do you want to publish this product?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info" (click)="publishProduct(selectedProductId)">Publish</button>
	</div>
</ng-template>
