<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>All Orders</h3>

            <div *ngIf="ordersList.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="20%">Order Tracking Number</th>
                            <th scope="col" width="10%">Total Price</th>
                            <th scope="col" width="10%">Total Quantity</th>
                            <th scope="col" width="10%">Date</th>
                            <th scope="col" width="10%">Status</th>
                            <th scope="col" width="15%">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let order of ordersList" [ngClass]="{'table-danger': order.status === 'Rejected'}">
                            <td>{{ order.orderTrackingNumber }}</td>
                            <td>{{ currencyService.formatPriceString(order.totalPrice, order.totalPriceEur) }}</td>
                            <td>{{ order.totalQuantity }}</td>
                            <td>{{ order.dateCreated | date: 'dd.MM.YYYY HH:mm:ss' }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <button class="btn btn-info me-2" 
                                        [routerLink]="['/admin/orders', order.id]">Details</button>

                                <ng-container *ngIf="order.status === 'Pending'">  
                                    <button class="btn btn-primary me-2" 
                                            (click)="open(process, order.id)">Process</button>
                                        
                                    <button class="btn btn-danger me-2" 
                                            (click)="open(reject, order.id)">Reject</button>
                                </ng-container>                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="ordersList.length == 0" class="alert alert-warning col-md-12" role="alert">
                <p>No orders found.</p>
            </div>

            <!-- begin footer -->
            <div class="footer-pagination" *ngIf="ordersList.length > 0">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">

                                <ngb-pagination [(page)]="currentPageNumber"
                                                [pageSize]="pageSize"
                                                [collectionSize]="totalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listOrders()">
                                </ngb-pagination>
                            </div>

                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>

                                <select #pageSizeSelect (change)="updatePageSize(pageSizeSelect.value)">
                                    <option>5</option>
                                    <option>10</option>
                                    <option selected="true">20</option>
                                    <option>50</option>
                                </select>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- end footer --> 
            
        </div>
    </div>
</div>

<ng-template #process let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Process Order</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Do you want to process this order?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="processOrder(selectedOrderId)">Process</button>
	</div>
</ng-template>

<ng-template #reject let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Reject Order</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<p>Do you really want to reject this order?</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="rejectOrder(selectedOrderId)">Reject</button>
	</div>
</ng-template>