<div class="main-content">
    <div class="section-content section-content-p30">

      <div class="container-fluid">
  
        <div class="row">
          <div class="col-1"></div>

          <div class="col-10">

            <h4>Contact Us</h4>
            <hr>

            <p>
                Have a question, need help with your order, or just want to say hello? We’re here for you!
            </p>
            
            <p>
                At <strong>ECommerce</strong>, customer satisfaction is our top priority. Whether you’re looking for 
                product information, have an issue with a purchase, or need assistance navigating our site, our support team 
                is ready to assist.
            </p>
    
            <p>
                <i class="fa-solid fa-envelope"></i> Email Us: Reach out anytime at <strong>support&commat;ecommerce.com</strong>
                and we’ll get back to you within 24 hours.
            </p>
    
            <p>
                <i class="fa-solid fa-phone-volume"></i> Call Us: Speak directly with our customer care team at 
                <strong>+359 89 55 44 333</strong> during business hours: Monday – Friday, 9 AM – 6 PM (EST)
            </p>    
    
            <p>
                <i class="fa-solid fa-hashtag"></i> You can also connect with us on social media for updates, promotions, and more!
            </p>

            <p>
                <i class="fa-solid fa-location-dot"></i> Visit Us:<br>
                Mladost 1A Residential Area<br>
                building 553, office 7<br>
                Sofia 1729
            </p>

            

            <p>
                Business hours:<br>
                Monday through Friday<br>
                10:00 a.m. – 08:00 p.m.
            </p>

            <p></p>

            <p>
                We look forward to hearing from you.
            </p>

          </div>

          <div class="col-1"></div>
        </div>
  
      </div>
    </div>
  </div>
  